@model IEnumerable<LaboratoryGrid>
<div class="row">
    <div class="col s12">
        <table>
            <thead>
                <tr>
                    <th class="flow-text">Корм</th>
                    <th class="flow-text">СВ(кг)</th>
                    <th class="flow-text">СП(кг)</th>
                    <th class="flow-text">СЖ(кг)</th>
                    <th class="flow-text">СК(кг)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Sv</td>
                        <td>@item.Sp</td>
                        <td>@item.Sg</td>
                        <td>@item.Sk</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <a class="waves-effect waves-light btn left col s2 offset-s3"><i class="fas fa-arrow-circle-left left"></i>Назад</a>
    <button type="submit" class="waves-effect waves-light btn left col s2 offset-s2 pulse">
    <i class="fas fa-calculator left"></i>Рассчитать</button>
</div>
