@model IEnumerable<LaboratoryGrid>
@{
    ViewData["Title"] = "KormLaboratory";
}
<form method="post" asp-controller="Ration" asp-action="Result">
    <div class="d-flex mt-3 mb-3 justify-content-center blue-text">
        <h4 class="font-weight-bold">Результаты лабораторных анализов кормов</h4>
    </div>

    <div class="card-body d-sm-flex">
        <div id="table" style="width:100%;" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Корм</th>
                        <th class="text-center">СВ (кг)</th>
                        <th class="text-center">СП (кг)</th>
                        <th class="text-center">СЖ (кг)</th>
                        <th class="text-center">СК (кг)</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var korm in Model)
                    {
                        <tr>
                            <td class="pt-3-half">@korm.Name</td>
                            <td class="pt-3-half" contenteditable="true">@korm.Sv</td>
                            <td class="pt-3-half" contenteditable="true">@korm.Sp</td>
                            <td class="pt-3-half" contenteditable="true">@korm.Sg</td>
                            <td class="pt-3-half" contenteditable="true">@korm.Sk</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-around mb-5 mt-5">
        <a asp-controller="Ration" asp-action="KormCategory" class="btn btn-primary blue"><i class="fa fa-arrow-left mr-3"></i>Назад</a>
            <button type="submit" class="btn btn-primar blue">
                Расчитать
                <i class="fa fa-calculator ml-4"></i>
            </button>
        </div>
</form>
